<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

<div class="container" style="margin-top:4%">
  <div class="row">
    <div class="col-md-6">
      <div class="">
        <h1 style="font-weight: 1100">
          <span style="color: #D62650;">{{ 'exerciseHeading' | translate }}</span>
        </h1>
        <!-- <img src="line.png"> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-2">
      <div class="single-service">
        <div class="single-icon-img" id="fullbody" (click)="onSubmit('fullbody')">
          <img src="./assets/imgs/fullbody.png" alt="" width=50px; height=50px;>
        </div>
        <h4>{{ 'exerciseOption1' | translate }}</h4>

      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2">
      <div class="single-service">
        <div class="single-icon-img">
          <img src="./assets/imgs/abs.png" alt="" id="abs" (click)="onSubmit('abs')" width=50px; height=50px;>
        </div>
        <h4>{{ 'exerciseOption2' | translate }}</h4>

      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2">
      <div class="single-service">
        <div class="single-icon-img">
          <img src="./assets/imgs/arms.png" alt="" id="arms" (click)="onSubmit('arms')" width=50px; height=50px;>
        </div>
        <h4>{{ 'exerciseOption3' | translate }}</h4>

      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2">
      <div class="single-service">
        <div class="single-icon-img">
          <img src="./assets/imgs/legs.png" alt="" id="legs" (click)="onSubmit('legs')" width=50px; height=50px;>
        </div>
        <h4>{{ 'exerciseOption4' | translate }}</h4>

      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2">
      <div class="single-service">
        <div class="single-icon-img">
          <img src="./assets/imgs/chest.png" alt="" id="chest" (click)="onSubmit('chest')" width=50px; height=50px;>
        </div>
        <h4>{{ 'exerciseOption5' | translate }}</h4>

      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2">
      <div class="single-servicરાઆ
      e">
        <div class="single-icon-img">
          <img src="./assets/imgs/back.png" alt="" id="back" (click)="onSubmit('back')" width=50px; height=50px;>
        </div>
        <h4>{{ 'exerciseOption6' | translate }}</h4>

      </div>
    </div>
  </div>

  <div class="no-touch start">
    <div *ngFor="let r of result; let i = index;">
      <div class="box" data-toggle="modal" [attr.data-target]="'#myModal'+ i">
        <div class="boxInner">
          <img src="http://localhost:3000/uploads/{{r.filename}}" />
          <div class="titleBox">{{r.exerciseName}}</div>
        </div>
      </div>
      <div class="modal fade customDialog" id="myModal{{i}}" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h1 class="modal-title">{{r.exerciseName}}</h1>
            </div>
            <div class="modal-body">
              <div class="">
                <img src="http://localhost:3000/uploads/{{r.filename}}" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="section" style="background-color:#f1f1f1">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h1 style="color: #D62650;">
            <span>{{ 'essentialWorkoutTips' | translate }}</span></h1>
        </div>
      </div>
    </div>
    <style type="text/css">
      .a {
        padding-left: 2cm;
      }

      .b {
        padding-left: 1cm;
      }
    </style>
    <div class="row">
      <div class="col-md-6">
        <div class="about-us-content">
          <br>
          <p>{{ 'tipsPara1' | translate }} </p>


          <ul class="check-list">
            <li>{{ 'tipsPoint1' | translate }}</li>
          </ul>
          <p class="b">{{ 'tipsPoint11' | translate }}</p>
          <ul class="a">
            <li>{{ 'tipsPoint12' | translate }}</li>
            <li>{{ 'tipsPoint13' | translate }}</li>
            <li>{{ 'tipsPoint14' | translate }}</li>
            <li>{{ 'tipsPoint15' | translate }}</li>
          </ul>
          <br>

          <ul class="check-list">
            <li>{{ 'tipsPoint16' | translate }}</li>
          </ul>

          <p class="b">{{ 'tipsPoint16.1' | translate }}</p>

          <ul class="check-list">
            <li>{{ 'tipsPoint17' | translate }}</li>
          </ul>
          <p class="b">{{ 'tipsPoint17.1' | translate }}</p>

          <ul class="check-list">
            <li>{{ 'tipsPoint18' | translate }}</li>
          </ul>

          <p class="b">"{{ 'tipsPoint18.1' | translate }}"</p>

        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="" style="margin-left:5%">
          <img src="./assets/imgs/bg1.png" width="305px" height="305px" alt="">
        </div>
      </div>
    </div>
  </div>

  <section id="trainer" class="trainer-area section-padding" style="margin-top:5%">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h1 style="color: #D62650;">
              <span>{{ 'trainerHeading' | translate }}</span></h1>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="trainer-part">
            <img src="./assets/imgs/t1.jpg" alt="">
            <div class="trainer-dec">

              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </div>
            <!-- Trainer Social Links -->
            <div class="trainer-social-link">
              <a href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <!-- Trainer part -->
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="trainer-part">
            <img src="./assets/imgs/t2.jpg" alt="">
            <div class="trainer-dec">

              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </div>
            <!-- Trainer Social Links -->
            <div class="trainer-social-link">
              <a href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <!-- Trainer part -->
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="trainer-part">
            <img src="./assets/imgs/t3.jpg" alt="">
            <div class="trainer-dec">

              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </div>
            <!-- Trainer Social Links -->
            <div class="trainer-social-link">
              <a href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <!-- Trainer part -->
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="trainer-part">
            <img src="./assets/imgs/t4.jpg" alt="">
            <div class="trainer-dec">

              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </div>
            <!-- Trainer Social Links -->
            <div class="trainer-social-link">
              <a href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <!-- Trainer part -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="trainer-part">
            <img src="images/trainer/01.jpg" alt="">
            <div class="trainer-dec">
              <h3>thom. muller</h3>
              <h4>gym instructor</h4>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </div>
            <!-- Trainer Social Links -->
            <div class="trainer-social-link">
              <a href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <!-- Trainer part -->
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="trainer-part">
            <img src="images/trainer/02.jpg" alt="">
            <div class="trainer-dec">
              <h3>lily adams</h3>
              <h4>Yoga Instructor</h4>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </div>
            <!-- Trainer Social Links -->
            <div class="trainer-social-link">
              <a href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <!-- Trainer part -->
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="trainer-part">
            <img src="images/trainer/03.jpg" alt="">
            <div class="trainer-dec">
              <h3>Andrew. russell</h3>
              <h4>Weight Trainer</h4>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </div>
            <!-- Trainer Social Links -->
            <div class="trainer-social-link">
              <a href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <!-- Trainer part -->
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="trainer-part">
            <img src="images/trainer/04.jpg" alt="">
            <div class="trainer-dec">
              <h3>sofia</h3>
              <h4>Aerobics Instructor</h4>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </div>
            <!-- Trainer Social Links -->
            <div class="trainer-social-link">
              <a href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <!-- Trainer part -->
        </div>
      </div>
    </div>
  </section>




  <div class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h1 style="color: #D62650;">
            <span>{{ 'fitnesscentreHeading' | translate }}</span>
          </h1>
        </div>
      </div>
    </div>

  </div>



  <br>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>