<header class='flex-container flex-center'>
    <div class='width-25'></div>
    <div class="width-half">
        <label for="search">
            <i class='fa fa-search icon-pos color-purple'></i>
        </label>
        <!-- <form [formGroup]='stateForm' autocomplete="new-password" novalidate> -->
            <input type='text' id='search' autocomplete="off" placeholder="Search your fav dish" name='search' [(ngModel)]="search" (ngModelChange)="filterCalorie(search)" (click)='openDropDown()' class='input-underline search-bar'>
        <!-- </form> -->
        <div clickOutside (clickOutside)="closeDropDown()">
            <div *ngIf="showDropDown" class='search-drop-down '>
                <div (click)='selectValue(c)' class='search-results ' *ngFor="let c of calorie">
                    <!-- <a [innerHTML]="c | letterBold: getSearchValue()"> -->
                           {{c.name}}
                    <!-- </a> -->
                </div>
            </div>
        </div>
    </div>
    <div class='width-25 '></div>

   
</header>

        <div class="row"  style="min-height:300px;">
            <div class="card-container">
                <div class="card bg-dark text-white" *ngFor="let card of cards">
                    <div class="card-header">
                            {{card.name}}
                    </div>
                    <div class="card-body">
                        <hr>
                    </div>
                    <div class="card-footer">
                            {{card.calorie}}
                        </div>
                </div>
            </div>
        </div>

<footer>
</footer>
