<html>

<body>
  <div class="container main">
    <div class="row">
      <h1 class="b">{{ 'dietplannerHeading' | translate }}</h1>
    </div>
    <div class="row" style="position: relative;">
      <div class="col-md-12 col-xs-12">
        <div class="col-sm-4">
          <label class="one">{{ 'dietplannerGender' | translate }}</label>
          <div class="select">
            <select name="gender" [(ngModel)]="gender">
              <option value="male">{{ 'dietplannerGenderOption1' | translate }}</option>
              <option value="fenale">{{ 'dietplannerGenderOption2' | translate }}</option>
            </select>
          </div>

        </div>
        <div class="col-sm-4">
          <label class="one">{{ 'dietplannerPriority' | translate }}</label>
          <div class="select">
            <select name="purpose" [(ngModel)]="for">
              <option value="loose weight">{{ 'dietplannerPriorityOption1' | translate }}</option>
              <option value="maintain weight">{{ 'dietplannerPriorityOption2' | translate }}</option>
              <option value="gain weight">{{ 'dietplannerPriorityOption3' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="one">{{ 'dietplannerPrefrences' | translate }}</label>
          <div class="select">
            <select name="dietPrefrence" [(ngModel)]="dietPrefrence" id="slct">
              <option value="i don't have any">{{ 'dietplannerPrefrencesOption1' | translate }}</option>
              <option value="vegeterian">{{ 'dietplannerPrefrencesOption2' | translate }}</option>
              <option value="dairy free">{{ 'dietplannerPrefrencesOption3' | translate }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="section-block"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6" style="margin-top:4%;">
          <label class="one">{{ 'dietplannerMealsNo' | translate }}</label>
          <div class="select">
            <select name="mealNo" [(ngModel)]="mealNo" id="slct">
              <option value="">CHOOSE AN OPTION</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6" style="margin-top:4%">
          <label class="one">{{ 'dietplannerSnacksNo' | translate }}</label>
          <div class="select">
            <select name="snackNo" [(ngModel)]="snackNo" id="slct">
              <option value="">CHOOSE AN OPTION</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top: 4%">
        <br>
        <button class="btn btn-info btn-block" type="submit" (click)="onPrefrenceSubmit()" value="" style="height: 35px; background-color: #D62650; border: solid 2px #D62650;">{{ 'dietplannerButton' | translate }}</button>
        <br>
      </div>
      <div class="section1-block"></div>
    </div>
    <div class="row">
      <div class="col-sm-12" *ngFor='let res of result;'>
        <h4 class="rectitle">BREAKFAST</h4>
        <div class="col-sm-2">
          <img src="./assets/imgs/apple.jpg" class="recipe-image" width="50" height="50">
        </div>
        <div class="col-sm-10">
          <h4 class="rectitle">{{res.catogery}}</h4>
         
          <button class="btn btn-planner-gray pull-right clear-recipe"  type="button" (click)="openModal(template)" value="view recepie">
            <img src="./assets/imgs/eye1.png">VIEW RECEPIE
            <span aria-hidden="true">&times;</span>
          </button>
          
            

          <div class="col-sm-4">
            <p>
              <span class="rectitle1">CALORIES</span>
              <span class="pull-right rectitle1">{{res.calories}}</span>
            </p>
            <p>
              <span class="rectitle1">PROTEIN</span>
              <span class="pull-right rectitle1">{{res.protiens}}</span>
            </p>
            <p>
              <span class="rectitle1">CARBOHYDRATE</span>
              <span class="pull-right rectitle1">{{res.carbohydrates}}</span>
            </p>
          </div>
          <div class="col-sm-4">
            <p>
              <span class="rectitle1">FATS</span>
              <span class="pull-right rectitle1">{{res.fats}}</span>
            </p>
            <p>
              <span class="rectitle1">SATURATED FATS</span>
              <span class="pull-right rectitle1">{{res.saturatedfats}}</span>
            </p>
            <p>
              <span class="rectitle1">MONOUNSATURATED FATS</span>
              <span class="pull-right rectitle1">{{res.monosaturatedfats}}</span>
            </p>
          </div>
          <div class="col-sm-4">
            <p>
              <span class="rectitle1">POLYUNSATURATEDFATS</span>
              <span class="pull-right rectitle1">{{res.polysaturatedfats}}</span>
            </p>
            <p>
              <span class="rectitle1">SUGARS</span>
              <span class="pull-right rectitle1">{{res.sugars}}</span>
            </p>
            <p>
              <span class="rectitle1">FIBRE</span>
              <span class="pull-right rectitle1">{{res.fibres}}</span>
            </p>
          </div>
        </div>
        <div class="section1-block"></div>
      </div>
    </div>
  </div>
  <ng-template #template>
      <div class="modal-header">
        <!-- <h4 class="modal-title pull-left">Modal</h4> -->
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
          <div class="container main">
            <div class="row">
              <div class="recipe-title-header">
                <h4>YOGURT</h4>
              </div>
            </div>
            <div class="row" id="content" #dietplanner data-html2canvas-ignore="true">
              <div class="content-single-reipe-wrapper">
                <div class="recipe-action-btn">
                  <span></span>
                  <a id="btn_save_recipe_pdf" (click)="downloadpdf()" class="btn btn-custom-plan" data-recipe_id="1741">Save to PDF</a>
                </div>
                <div class="nutrition-recipe">
                  <h2>Nutrition per serving</h2>
                </div>
                <div class="row table-wrapper ">
                  <div class="col-md-6">
                    <table class="table single-recipe-table">
                      <tbody>
                        <tr>
                          <td width="50%">CALORIES</td>
                          <td width="50%">84 KCAL</td>
                        </tr>
                        <tr>
                          <td width="50%">PROTEIN </td>
                          <td width="50%">10.2 g</td>
                        </tr>
                        <tr>
                          <td width="50%">CARBS</td>
                          <td width="50%">10.2 g</td>
                        </tr>
                        <tr>
                          <td width="50%">FATS</td>
                          <td width="50%">10.2 g</td>
                        </tr>
                        <tr>
                          <td width="50%">SATURATED FAT</td>
                          <td width="50%">10.2 g</td>
                        </tr>
                      </tbody>
                    </table>
                   </div>
                  <div class="col-md-6">
                    <table class="table single-recipe-table">
                      <tbody>
                        <tr>
                          <td width="50%">MONOSATURATED FAT</td>
                          <td width="50%">84 g</td>
                        </tr>
                        <tr>
                          <td width="50%">POLYSATURATED FAT</td>
                          <td width="50%">10.2 g</td>
                        </tr>
                        <tr>
                          <td width="50%">SUGARS</td>
                          <td width="50%">10.2 g</td>
                        </tr>
                        <tr>
                          <td width="50%">FIBERS</td>
                          <td width="50%">10.2 g</td>
                        </tr>
                        <tr>
                          <td width="50%">SODIUM</td>
                          <td width="50%">10.2 mg</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <hr>
                <section class="ingredent-section">
                  <div class="row">
                    <div class="col-md-6">
                      <h2>Ingredients</h2>
                      <div class="igredent-row">
                        <table class="table igredent-table">
                          <tbody>
                            <tr>
                              <td width="40%">
                                <label class="recipe-select">50 GRAMS</label>
                              </td>
                              <td width="40%">
                                <label class="recipe-select">MIXED BERRIES
                                  <br> (STRAWBERIES, RASBERIES AND BLUEBERRIES)</label>
                              </td>
                            </tr>
                            <tr>
                              <td width="40%">
                                <label class="recipe-select">100 GRAMS</label>
                              </td>
                              <td width="40%">
                                <label class="recipe-select">PLAIN GREEK YOGURT
                                </label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <strong>
                          PREAPRATIONS
                        </strong>
                      </p>
                      <ol>
                        <li> Place berries in a bowl and heat in the microwave</li>
                        <li> Mix the the contents of the bowl into the yogurt</li>
                      </ol>
                    </div>
                  </div>
                </section>
                <hr>
              </div>
              <section class="single-recipe-footer">
                <div class="row">
                  <div class="col-md-12">
                    <p style="text-align: center; font-weight: bold; font-size: 30px">
                      <strong>
                        SHARE THIS
                      </strong>
                    </p>
                    <div class="col-md-3">
                      <button shareButton="facebook" class="social facebook">
                        <i class="fa fa-facebook fa-5x"></i>
                      </button>
                    </div>
                    <div class="col-md-3">
                      <button shareButton="twitter" class="social twitter">
                        <i class="fa fa-twitter fa-5x"></i>
                      </button>
                    </div>
                    <div class="col-md-3">
                      <button shareButton="pinterest" class="social pinterest">
                        <i class="fa fa-pinterest fa-5x"></i>
                      </button>
                    </div>
                    <div class="col-md-3">
                      <button shareButton="google" class="social google-pluse">
                        <i class="fa fa-google-plus fa-5x"></i>
                      </button>
                    </div>
                    <br>
                  </div>
                </div>
              </section>
            </div>
          </div>
       
    
      </div>
    </ng-template>
  
